@mixin mainContainer($widthMinimum, $widthIdeal, $widthMaximum, $heightMinimum, $heightIdeal, $heightMaximum, $gap) {
    display: flex;
    width: clamp($widthMinimum, $widthIdeal, $widthMaximum);
    height: clamp($heightMinimum, $heightIdeal, $heightMaximum);
    gap: $gap;
}

@mixin btn($widthMinimum, $widthIdeal, $widthMaximum, $heightMinimum, $heightIdeal, $heightMaximum, $fontSize) {
    width: clamp($widthMinimum, $widthIdeal, $widthMaximum);
    height: clamp($heightMinimum, $heightIdeal, $heightMaximum);
    background-color: $azulEscuro;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: clamp(1.1rem, $fontSize, 1.5rem);
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin header($fontSizeMinimum, $fontSizeIdeal, $fontSizeMaximum) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    color: $azulEscuro;
    margin-top: 20px;

    & h1 {
        font-size: clamp($fontSizeMinimum, $fontSizeIdeal, $fontSizeMaximum);
        font-weight: 800;
    }

    & div.icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    & .icon {
        position: absolute;
        right: 20px;
        cursor: pointer;
    }
}

@mixin menu($widthMenu, $heightMenu) {
    &.menu-disabled {
        display: none;
    }

    &.menu-active {
        display: flex;
    }

    width: $widthMenu;
    height: $heightMenu;
    background-color: #C8EDF7;
    position: absolute;
    right: 0;
    top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 1000;

    & .menu-title {
        color: $azulEscuro;
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & .menu-icon {
            position: absolute;
            left: 10px;
            cursor: pointer;
            font-size: clamp(1.5rem, 2.7rem, 5rem);
        }
    }

    & .link-item {
        display: block;
        background-color: white;
        width: clamp(7.5rem, 80%, 10rem);
        height: clamp(3.1rem, 3.5rem, 5rem);
        border-radius: 20px;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8px;
        cursor: pointer;
        text-decoration: none;
        color: $azulEscuro;
        font-weight: bold;
    }
}