@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "variables";
@import "mixins";
@import "extends";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $azulClaro;
}

header {
   @include header(1.2rem, 2vw, 4rem);

   & .icon {
    & a {
        font-size: clamp(1rem, calc(3vw + 1rem), 2.3rem);
        color: $azulEscuro;
    }
   }

   & #menuIcon {
    font-size: clamp(1rem, 2vw, 2.3rem);
   }
}

.menu {
    @include menu(40dvh, 100dvh);
}

.container-cad_log {
    @include cadastroLogin(18.7rem, 80%, 31.2rem, 25rem, 80%, 31.2rem, 30px);
}

.main-container {
    @include mainContainer(21.2rem, 90%, 59.3rem, 31.2rem, 80%, 40.6rem, 30px); 
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin-top: 30px;

    & a {
        @include btn(12.5rem, 17.5rem, 18.7rem, 6.2rem, 9.3rem, 10.5rem, 3vw);
        flex-shrink: 0;
        text-decoration: none;
    }
}



.main-calculator {
    // @include mainContainer(90%, 500px, 15px);
    @include mainContainer(21.2rem, 90%, 53.1rem, 31.2rem, 80%, 34.3rem, 20px);
    background-color: white;
    border-radius: 15px;
    padding: 30px 20px 20px 20px;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;

    & .calc-item {
        width: 70%;
        font-size: 1.3em;

        & input, select {
            width: 100%;
            height: 30px;
            border: 2px solid black;
            border-radius: 5px;
            padding-left: 10px;
            font-size: 1em;
        }
    }

    & .btnCalc {
        // @include btn(150px, 50px, 1.3em);
        @include btn(6.2rem, 70%, 11.2rem, 4.3rem, 5rem, 5.6rem, 2vw);
    }
}

.calc-resp {
    position: absolute;
    // width: 300px;
    // height: 450px;
    @include mainContainer(21.2rem, 90%, 62.5rem, 31.2rem, 80%, 34.3rem, 20px);
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    & .icon {
        font-size: clamp(1rem, calc(3vw + 1rem), 2.3rem);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

.disabled {
    display: none;
}

.active {
    display: flex;
}

.main-dieta {
    // @include mainContainer(90%, 500px, 10px);
    @include mainContainer(21.2rem, 90%, 53.1rem, 31.2rem, 80%, 34.3rem, 20px);
    flex-direction: column;
    align-items: center;

    & .diet-button {
        // @include btn(250px, 200px, 1.3rem);
        @include btn(12.5rem, 90%, 15.6rem, 9.3rem, 70%, 20rem, 2vw);
        margin-top: 15px;
        padding: 10px;
        font-weight: bold;
    }
}

.diet-resp {
    position: absolute;
    // width: 300px;
    // height: 450px;
    @include mainContainer(21.2rem, 90vw, 53.1rem, 31.2rem, 80vh, 34.3rem, 20px);
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    padding: 10px;

    & .icon {
        font-size: clamp(1rem, calc(3vw + 1rem), 2.3rem);
    }

    & article {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        text-align: center;
        color: $azulEscuro;
        padding: 15px;

        & .alimentos {
            overflow-y: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            color: black;

            & .alimento {
                width: clamp(17.5rem, 90%, 21.8rem);
                height: clamp(7.5rem, 50%, 9.3rem);
                background-color: $azulClaro;
                padding: 8px;
                border-radius: 12px;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                font-size: clamp(1.1rem, 2vw, 1.2rem);
                justify-content: center;
            }
        }
    }

    & header {
        position: relative;
    }
}

// .diet-resp header {
//     position: sticky;
//     top: 0;
//     width: 100%;
//     background-color: white;
//     z-index: 100;
//     padding: 10px 0;
//     margin: 0;
// }

.container-types {
    position: absolute;
    // width: 300px;
    // height: 500px;
    @include mainContainer(21.2rem, 90%, 53.1rem, 31.2rem, 80%, 34.3rem, 20px);
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

    & section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        & button {
            // width: 180px;
            // height: 70px;
            // background-color: $azulEscuro;
            // color: white;
            // border-radius: 12px;
            // border: none;
            // cursor: pointer;

            @include btn(17.5rem, 90%, 20rem, 4.3rem, 5.9rem, 6rem, 2vw);
        }
    }

    & .icon {
        font-size: clamp(1rem, calc(3vw + 1rem), 2.3rem);
    }
}

.diet-resp.active {
    display: flex;
}

.diet-resp.disabled {
    display: none;
}

.container-types.active {
    display: flex;
}

.container-types.disabled {
    display: none;
}

.main-exercise, .main-suplement {
    // @include mainContainer(90%, 500px, 10px);
    @include mainContainer(21.2rem, 90%, 53.1rem, 23.7rem, 90%, 28rem, 15px);
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    & .btnExercise, .btnSuplement {
        // @include btn(250px, 100px, 1.4em);
        @include btn(12.5rem, 90%, 18.1rem, 7.5rem, 70%, 8.1rem, 7vw);
        flex-shrink: 0;
    }
}

.exerc-resp {
    position: absolute;
    // width: 300px;
    // height: 500px;
    @include mainContainer(21.2rem, 90%, 53.1rem, 31.2rem, 80%, 34.3rem, 20px);
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    padding: 10px;

    & .icon {
        font-size: clamp(1rem, calc(3vw + 1rem), 2.3rem);
    }

    section {
        display: flex;
        flex-direction: column;
        height: 300px;
        gap: 20px;
        text-align: center;
        overflow-y: auto;
        font-size: 0.95em;
    }
}

.sup-resp {
    position: absolute;
    // width: 300px;
    // height: 450px;
    @include mainContainer(21.2rem, 90%, 53.1rem, 31.2rem, 80%, 34.3rem, 20px);
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    border-radius: 15px;

    & .icon {
        font-size: clamp(1rem, calc(3vw + 1rem), 2.3rem);
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        gap: 30px;
        z-index: 10;

        & div {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        justify-content: center;
        align-items: center;
       

        & a {
            min-height: 120px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $azulClaro;
            border-radius: 12px;
            padding: 10px;

            & img {
                width: 140px;
                height: 140px;
            }
        }
    }
}

.sup-resp header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    padding: 10px 0;
    margin: 0;
}

.exerc-resp.active, .sup-resp.active {
    display: flex;
}

.exerc-resp.disabled, .sup-resp.disabled {
    display: none;
}



.main-criadores {
    // @include mainContainer(90%, 500px, 15px);
    @include mainContainer(21.2rem, 90%, 59.3rem, 23.7rem, 90%, 31.2rem, 30px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;

    & .player-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: black;

        & .player {
            // width: 120px;
            // height: 120px;
            width: clamp(7.5rem, 8vw, 15.6rem);
            height: clamp(7.5rem, 8vw, 15.6rem);
            border-radius: 5px;
            transition: all 0.3s;

            & img {
                height: 100%;
                width: 100%;
                border-radius: 5px
            }

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 0 10px $azulEscuro;
            }
        }
    }
}

// .imagem_fundo {
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     overflow: hidden;
//     z-index: -1;
// }

.container_criador {
    // @include mainContainer(330px, 480px, 20px);
    @include mainContainer(21.2rem, 90%, 53.1rem, 31.2rem, 80%, 34.3rem, 20px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    & .criador {
        width: 100%;
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;

        & .foto_perfil {
            width: 70px;
            height: 70px;
            background-color: $azulEscuro;
            border-radius: 100%;

            & img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }

        
    }

    & .card_links {
        background-color: rgba(255, 255, 255, 0.432);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 400px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.144);
        color: $azulEscuro;
    }

    & .card_link {
        background-color: $azulClaro;
        width: 100%;
        height: 80px;
        border-radius: 12px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        transition: all 0.3s;
        z-index: 1;
        position: relative;
        font-size: 1.3rem;
        text-align: center;
        text-decoration: none;
        color: $azulEscuro;

        & .icon_link {
            width: 50px;
            height: 50px;
            justify-self: center;
            align-self: center;
            grid-row: 1 / 3;
            grid-column: 1 / 2;
        }

        & h3 {
            justify-self: start;
            align-self: center;
            grid-row: 1 / 3;
            grid-column: 2 / 3;
        }

        &:hover {
            color: white;
        }
    }

    & .card_link::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: rgba(100, 148, 237, 0.459);
        z-index: -1;
        border-radius: 12px;
        transition: all 0.3s ease-in-out;
    }

    & .card_link:hover::before {
        width: 100%;
    }

    & .card_link:active {
        transform: translateY(3px);
        color: $azulEscuro;
    }
}

@media screen and (min-width: 768px) {
    .main-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        // justify-items: center;

        // & a:nth-child(7) {
        //     grid-column: 2;
        // }
    }

    .main-dieta {
        flex-direction: row;
        justify-content: center;
    }

    .main-exercise, .main-suplement {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    } 

    .sup-resp {
        & article {
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main-criadores {
        & .player-item {
            & .player {
                width: clamp(10rem, 30vw, 11.2rem);
                height: clamp(10rem, 30vw, 11.2rem);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .main-container {
        & a {
            transition: all 0.2s ease-in;
        }

        & a:hover {
            transform: translateY(5px);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.167);
        }

    }

    .main-dieta {
        & .diet-button {
            transition: all 0.2s ease-in;
        }

        & .diet-button:hover {
            transform: translateY(5px);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.167);
        }

        & .container-types button {
            transition: all 0.2s ease-in;
        }

        & .container-types button:hover {
            transform: translateY(5px);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.167);
        }
    }

    .main-exercise, .main-suplement {
        & .btnExercise, .btnSuplement {
            transition: all 0.2s ease-in;
        }

        & .btnExercise:hover, .btnSuplement:hover {
            transform: translateY(3px);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.167);
        }
    }

    .container-criador {
        &:hover {
            color: white;
        }

        & .card_link::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: rgba(100, 148, 237, 0.459);
            z-index: -1;
            border-radius: 12px;
            transition: all 0.3s ease-in-out;
        }

        & .card_link:hover::before {
            width: 100%;
        }

        & .card_link:active {
            transform: translateY(3px);
            color: $azulEscuro;
        }
    }
}

@media screen and (min-width: 1280px) {
    // header {
    //     & .icon {
    //         & a {
    //             transition: all 0.3s;
    //         }

    //         & a:hover {
    //             transform: scale(1.1);
    //         }
    //     }

    //     & #menuIcon {
    //         transition: all 0.3s;
    //     }

    //     & #menuIcon:hover {
    //         transform: scale(1.1);
    //     }
    // }

    .menu {
        & .menu-title {
            & .menu-icon {
                transition: all 0.3s;
            }

            & .menu-icon:hover {
                transform: scale(1.1);
            }
        }
    }

    .icon {
        transition: all 0.3s;
    }

    .icon:hover {
        transform: scale(1.1);
    }

    .main-container {
        @include mainContainer(21.2rem, 90%, 62.5rem, 31.2rem, 80%, 40.6rem, 50px); 
    }

    .main-calculator {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
       
        & .calc-item {
            width: 70%;
            justify-self: center;

            & input, select {
                height: 40px;
            }
        }

        & .calc-item:nth-child(5) {
            grid-column: 1 / 3;
            
        }

        & .btnCalc {
            grid-row: 4;
            grid-column: 1 / 3;
            justify-self: center;
        }
    }

    .main-dieta {
        gap: 50px;

        & .diet-button {
            @include btn(12.5rem, 90%, 18.75rem, 9.3rem, 70%, 20rem, 2vw);
        }
    }

    .diet-resp {
        @include mainContainer(21.2rem, 90vw, 62.5rem, 31.2rem, 80vh, 34.3rem, 20px);

        & article {
            & .alimentos {
                & .alimento {
                    width: clamp(17.5rem, 90%, 28.1rem);
                    height: clamp(7.5rem, 50%, 11.2rem);
                }
            }
        }
    }

    .main-exercise, .main-suplement {
        @include mainContainer(21.2rem, 90%, 53.1rem, 23.7rem, 90%, 34.3rem, 70px);
    }

    .exerc-resp, .sup-resp {
        @include mainContainer(21.2rem, 90vw, 62.5rem, 31.2rem, 80vh, 34.3rem, 20px);
    }    

    .main-criadores {
        gap: 70px;

        & .player-item {
            & .player {
                width: clamp(7.5rem, 8vw, 11.2rem);
                height: clamp(7.5rem, 8vw, 11.2rem);
            }
        }
    }
}


// @media screen and (min-width: 768px) {
//     header {
//         @include header(2.3rem );
//     }

//     nav {
//         & input {
//             height: 45px;
//             width: 250px;
//             font-size: 1.2em;
//         }

//         & .btnSearch {
//             height: 45px;
//             width: 120px;
//             font-size: 1.2em;
//         }
//     }

//     .menu {
//         @include menu(400px, 570px, 200px, 50px, 1.2em);
//     }

//     .main-container {
//         height: auto;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         flex-wrap: wrap;
//         gap: 15px;

//         & button {
//             @include btn(200px, 120px, 1.3rem)
//         }
//     }

//     .main-calculator {
//         gap: 20px;
//     }

//     .calc-resp {
//         position: absolute;
//         width: 500px;
//         height: 450px;
//         background-color: white;
//         justify-content: center;
//         align-items: center;

//         section {
//             display: flex;
//             flex-direction: column;
//             gap: 20px;
//             text-align: center;
//             font-size: 1.3em;
//         }
//     }

//     .main-dieta {
//         @include mainContainer(90%, 500px, 50px);
//         flex-direction: row;
//         justify-content: center;

//         & .diet-button {
//             @include btn(280px, 320px, 1.3rem);
//         }
//     }

//     .diet-resp {
//         width: 650px;
//         overflow-y: hidden;

//         article {
//             flex-direction: row;
//             flex-wrap: wrap;

//             & .card-resp {
//                 width: 200px;
                
//             }
//         }
//     }

//     .diet-resp header {
//         position: sticky;
//         top: 0;
//         width: 100%;
//         background-color: white;
//         z-index: 100;
//         padding: 10px 0;
//         margin: 0;
//     }

//     .container-types {
//         width: 650px;
//         height: 500px;
        
//         & section {
//             & button {
//                 width: 280px;
//                 height: 100px;
//                 background-color: $azulEscuro;
//                 color: white;
//                 border-radius: 12px;
//                 border: none;
//                 font-size: 1.3em;
//             }
//         }

//         & article {
//             height: 70%;
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             gap: 20px;
//             text-align: center;
//             color: $azulEscuro;
//             font-size: 1.2em;

//             & .alimentos {
//                 overflow-y: auto;
//                 display: flex;
//                 align-items: center;
//                 flex-direction: column;
//                 gap: 20px;
//                 color: black;

//                 & .alimento {
//                     width: 350px;
//                     background-color: $azulClaro;
//                     padding: 8px;
//                     border-radius: 12px;
//                 }
//             }
//         }
        
//     }

//     .main-exercise, .main-suplement {
//         flex-direction: row;
//         flex-wrap: wrap;
//         justify-content: center;
//         height: auto;

//         & .btnExercise, .btnSuplement {
//             height: 120px;
//         }
//     }

//     .exerc-resp {
//         position: absolute;
//         width: 650px;
//         height: 450px;
//         background-color: white;
//         justify-content: center;
//         align-items: center;
//         border-radius: 15px;

//         section {
//             display: flex;
//             flex-direction: column;
//             gap: 20px;
//             text-align: center;
//             font-size: 1.3em;
//             height: 250px;
//         }
//     }

//     .sup-resp {
//         width: 650px;

//         section {
//             display: flex;
//             flex-direction: column;
//             justify-content: flex-start;
//             padding: 20px;
//             gap: 10px;
//             z-index: 10;
//             font-size: 1.2em;
//         }

//         article {
//             flex-direction: row;
//             flex-wrap: wrap;

//             & a {
//                 min-height: 200px;
//                 width: 200px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;

//                 & img {
//                     width: 200px;
//                     height: 200px;
//                 }
//             }
//         }
//     }

//     .sup-resp header {
//         position: sticky;
//         top: 0;
//         width: 100%;
//         background-color: white;
//         z-index: 100;
//         padding: 10px 0;
//         margin: 0;
//     }

//     .main-criadores {
//         gap: 30px;
        
//         & .player-item {
//             & .player {
//                 width: 200px;
//                 height: 200px;
//             }
//         }
//     }

//     .container_criador {
//         @include mainContainer(520px, 480px, 20px);

//         & .criador {
//             gap: 20px;
//             font-size: 1.8rem;

//             & .foto_perfil {
//                 width: 100px;
//                 height: 100px;
//             }
//         }

//         & .card_links {
//             height: 500px;
//         }

//         & .card_link {
//             height: 140px;
//             font-size: 1.7rem;
//         }
//     }
// }

// @media screen and (min-width: 939px) {
//     .main-container {
//         width: 800px;

//         & button {
//             width: 250px;
//             height: 150px;
//         }
//     }

//     .main-calculator {
//         width: 800px;
//         height: auto;
//         // Ajustar depois
//     }

//     .calc-resp {
//         width: 800px;
//         height: 450px;
//     }

//     .main-exercise, .main-suplement {
//         width: 700px;
//     }

//     .sup-resp {
//         height: 580px;
//         width: 700px;

//         // Se der erro ou a tela ficar incompatível, tirar o .sup-resp daqui
//     }

//     .container_criador {
       

//         & .criador {
//             gap: 20px;
//             font-size: 2rem;

//             & .foto_perfil {
//                 width: 100px;
//                 height: 100px;
//             }
//         }

//         & .card_links {
//             height: 500px;
//         }

//         & .card_link {
//             height: 140px;
//         }
//     }

//     .container-types {
//         width: 800px;
//         height: 550px;

//         & section {
//             & button {
//                 width: 350px;
//                 height: 110px;
//             }
//         }

//         & article {
//             height: 400px;

//             & .alimentos {
//                 & .alimento {
//                     width: 400px;
//                 }
//             }
//         }
//     }
// }

// @media screen and (min-width: 1441px) {
//     .main-container {
//         width: 900px;
//         height: 650px;
//         gap: 35px;

//         & button {
//             width: 270px;
//             height: 180px;
//         }
//     }

//     .main-dieta {
//         width: 700px;
//     }

//     .container-types {
//         width: 1000px;
//         height: 750px;

//         & section {
//             & button {
//                 width: 480px;
//                 height: 150px;
//                 font-size: 1.5em;
//             }
//         }

//         & article {
//             height: 550px;

//             & .alimentos {
//                 & .alimento {
//                     width: 550px;
//                     padding: 40px;
//                 }
//             }
//         }
//     }

//     .exerc-resp {
//         width: 1000px;
//         height: 700px;

//         section {
//             font-size: 2em;
//         }
//     }

//     .sup-resp {
//         width: 1000px;
//         height: 700px;

//         section {
//             flex-direction: center;
//             justify-content: space-evenly;
//             height: 500px;
//         }

        
//     }
// }

// @media screen and (min-width: 2000px) {
//     .container-types {
//         width: 1950px;
//         height: 800px;

//         & section {
//             & button {
//                 width: 550px;
//                 height: 180px;
//                 font-size: 1.5em;
//             }
//         }

//         & article {
//             height: 480px;

//             & .alimentos {
//                 & .alimento {
//                     width: 480px;
//                     padding: 30px;
//                 }
//             }
//         }
//     }

//      .exerc-resp {
//         width: 1950px;
//     }

//     .sup-resp {
//         width: 1950px;
//     }
// }